BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MASTER_SPI_PORT=ENABLE MCCLK_FREQ=62 ;

FREQUENCY NET "clk_x1_c" 12.000000 MHz;

LOCATE COMP "clk_x1" SITE "A10" ;
LOCATE COMP "rstn" SITE "P4" ;

LOCATE COMP "LED[0]" SITE "A13" ;
LOCATE COMP "LED[1]" SITE "A12" ;
LOCATE COMP "LED[2]" SITE "B19" ;
LOCATE COMP "LED[3]" SITE "A18" ;
LOCATE COMP "LED[4]" SITE "B18" ;
LOCATE COMP "LED[5]" SITE "C17" ;
LOCATE COMP "LED[6]" SITE "A17" ;
LOCATE COMP "LED[7]" SITE "B17" ;